
.container{
    .header{
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0% 20%;
        border-bottom: 3px solid #f1f1f1;
        // background: #fffaf1;
        // background: linear-gradient(#09203F,#537895);
        // linear-gradient(#7abae5, #1885f1)
        &__reachinfo{
            display: flex;
            flex: 1;
            border-right: 2px solid #f1f1f1;
            padding: 2% 0;
            // color: white;
            &__text{
                color: #0b0c26;
                font-size: 15px;
                font-weight: 500;
                padding-bottom: 7px;
                text-align: start;
            }
            &__email{
                padding-left: 7px;
                font-size: 20px;
                color: white;
                text-align: start;
            }
            &__img{
                padding-top: 7px;
            }
            
        }
        &__companyname{
            flex: 1;
            border-right: 2px solid #f1f1f1;
            padding: 2% 0;
            color: white;
            &__text{
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 5px;
                letter-spacing: 1px;
                &:hover{
                    color: #f9a156;
                    transform: scale(1);
                    transition: all .4s ease-in;
                    cursor: pointer;
                }
            }
            &__description{
                font-size: 18px;
                font-size: 600;
                // color: #ffb500;
            }
        }
        &__callback{
            flex: 1;
            padding: 2% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &__text{
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 1px;
                padding-bottom: 5px;
                color: black;
            }
            &__link{
                font-size: 22px;
                font-weight: 400;
                cursor: pointer;
                color: white;
                &:hover{
                    color: #f9a156;
                    transform: scale(1.5);
                    transition: all .3s ease-in;
                }
            }
            &__img{
                padding-top: 7px;
                transform: scaleX(-1);
            }
           
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        .header{
            width: 100%;
            padding: 0 0;
            border-bottom: 1px solid white;
            &__reachinfo{
                display: none;
            }
            &__companyname{
                border-right: 0px solid transparent;
                &__text{
                    font-size: 18px;
                }
                &__description{
                    font-size: 12px;
                }
            }
            &__callback{
                display: none;
            }
        }
    }
  }